body {
    font-family: Arial, sans-serif;
    margin: 40px;
    line-height: 1.6;
}

h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

h2 {
    border-bottom: 2px solid rgb(62, 62, 62);
    margin-top: 30px;
}

ul {
    margin-left: 20px;
}
