body {
    font-family: Arial, sans-serif;
    margin: 40px;
    line-height: 1.6;
}

h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

h2 {
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 30px;
    padding-bottom: 6px;
}

ul {
    margin-left: 20px;
}
